body 
{
    margin: 0;
    text-align: center;
}

.header
{
    background-image: url("images/calapan_port.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 350px;
    width: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header h1
{
    color: #ffffff;
    background-color: #457B9D;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 100px 0 0 0;
}

.header h2
{
    color: #ffffff;
    background-color: #1D3557;
    max-width: 500px;
    padding: 5px 10px;
    border-radius: 6px;
}

.section
{
    background-color: #F1FAEE;
    color: #1D3557;
}

.section h3
{
    margin: 0;
    padding: 25px 0;
}

.section .container
{
    display: flex;
    justify-content: space-evenly;
}

.section .container img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.section .container p
{
    max-width: 100px;
    padding-bottom: 10px;    
}

.footer
{
    color: #1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: auto;
}

.footer .box
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: #A8DADC;
    padding: 10px;
    border-radius: 10px;
}

.footer .box img
{
    padding: 1px;
    height: 250px;
    width: 200px;

    border: 2px solid #1D3557;
    border-radius: 10px;
}
